@font-face {
  font-family: kakao;
  src: url(/font/KakaoBigRegular.ttf), local("KakaoBigRegular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: kakao;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}
