@import url(./reset.css);
@import url(./var.css);

body{
  width: 100%;
  height: 100%;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#wrap{
  width: 392px;
  height: 680px;
  background: #fff;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
}

.top{
  display: flex;
}

.side_bar{
  width: 75px;
  height: 585px;
  /* padding: 10px; */
  /* border: 1px solid green; */
  background-color: #ececee;
}

.side_bar_icon{
  width: 75px;
  height: 585px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  padding: 25px 0;
}

.side_bar_icon ul li a{
font-size: 20px;
text-align: center;
/* border: 1px solid red; */
}

.side_bar_icom_top li{
  margin-bottom: 15px;
  text-align: center;
  /* background: #f0bfbf; */
/* border: 1px solid red; */
}
.side_bar_icom_top li:first-child a{
  color: var(--color-middlegray);
  /* border: 1px solid red; */
}
.side_bar_icom_top li:nth-child(2) a{
  color: #000;
  /* border: 1px solid red; */
}
.side_bar_icom_top li:last-child a{
  color: var(--color-middlegray);
  /* border: 1px solid red; */
}
.side_bar_icom_bottom li{
  text-align: center;
  /* background: #f0bfbf; */
  margin-top: 15px;
}
.side_bar_icom_bottom li a{
  color: #000;
}

.header_control_box{
  width: 317px;
  height: 31px;
  padding: 5px;
  display: inline-block;
  text-align: right;
  /* border: 1px solid green; */
}

.header_control_box li{
  display: inline-block;
  margin: 0 2px;
  /* border: 1px solid #000; */
}
.header_control_box li a{
  color: #000;
}


.header_nav{
  width: 317px;
  height: 75px;
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 15px;
}

.chatting_option{
line-height: 20px;
}
.chatting_option li a{
color: #000;
}

.chatting_plus{
display: flex;
justify-content: right;
gap: 10px;
}
.chatting_plus li a{
  color: #000;
}

.chatting_list{
width: 317px;
height: 480px;
/* border: 1px solid rgb(184, 89, 12); */
display: flex;
flex-direction: column;
}

.Chat_room{
  width: 317px;
  height: 68px;
  /* border: 1px solid rgb(250, 0, 0); */
}

.Chat_room a{
  width: 317px;
  height: 68px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  /* border: 1px solid rgb(184, 89, 12); */
}

.Chat_room img{
  /* position: absolute; */
  width: 49px;
  height: 49px;
  border-radius: 15px;
  /* border: 1px solid rgb(66, 0, 41); */
}

.Chat_room_text{
  display: inline-block;
  width: 250px;
  height: 49px;
  padding-left: 10px;
  /* border: 1px solid rgb(66, 0, 41); */

}
.Chat_room .chat_title{
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  color: #000;
}
.Chat_room .chat_content{
  font-size: 11.5px;
  text-align: left;
  color: #000;
}

.Chat_room_info{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  width: 82px;
  height: 68px;
}
.Chat_room_info .date{
  font-size: 10px;
  text-align: right;
  color: #000;
}
.Chat_room_info .msg_number{
  width: 22px; 
  height: 17px;
  font-size: 10px;
  font-weight: bold;
  line-height: 1.6;
  text-align: center;
  background: #f00;
  border-radius: 20px;
  color:#fff;
}

#footer{
  width: 391px;
  height: 100px;
  /* border: 1px solid rgb(255, 175, 224); */
}

#footer a{
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* border: 1px solid rgb(255, 175, 224); */
}

#footer img{
  width: 120px;
  height: 60px;
  border-radius: 5px;
}
.footer_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer_title{
  font-size: 13px;
  font-weight: bold;
  color: #000;
  /* border: 1px solid rgb(255, 175, 224); */
}
.footer_content{
  color: #000;
  font-size: 11.5px;
}