* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}

body {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.section {
  width: 90%;
  margin: 0 auto;
  /* border: 1px solid #f00; */
}
.section .profile_list li {
  width: 100%;
}
.section .profile_list li a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 1px solid #f00; */
}
.section .profile_list li:first-child a::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.05);
  background-image: linear-gradient(to top, #c52514, transparent);
  opacity: 0;
  transition: all 0.2s;
  z-index: 2;
}
.section .profile_list li:nth-child(2) a::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.05);
  background-image: linear-gradient(to top, #3f51b5, transparent);
  opacity: 0;
  transition: all 0.2s;
  z-index: 2;
}
.section .profile_list li:last-child a::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.05);
  background-image: linear-gradient(to top, #269f40, transparent);
  opacity: 0;
  transition: all 0.2s;
  z-index: 2;
}
.section .profile_list li a:hover::before {
  opacity: 0.8;
}
.section .profile_list li .profile {
  position: absolute;
  text-align: center;
  bottom: 40px;
  opacity: 0;
  transition: all 0.3s;
  padding: 10px;
  /* border: 1px solid #f00; */
}
.section .profile_list li a:hover .profile {
  opacity: 1;
  transform: translateY(20px);
  z-index: 3;
}
.section .profile_list li .profile h3 {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0px;
  font-weight: normal;
}
.profile span {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  color: yellow;
}
.section .profile_list li .profile p {
  font-size: 11px;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 15px;
}
.section .profile_list li img {
  display: block;
  width: 100%;
  height: auto;
  transition: all 0.2s;
  /* border: 1px solid #f00; */
}
.section .profile_list li:hover img {
  transform: scale(1.05);
  opacity: 1;
  z-index: 1;
}

.profile i {
  color: #fff;
}

@media all and (max-width: 768px) {
  .section {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}
