*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,li{
  list-style: none;
}

a{
  text-decoration: none;
}

body{
  width: 100%;
  background: fff;
  display: flex;
  justify-content: center;
}

#wrap{
  width: 1280px;
  height: 1000px;
  border: 1px solid red;
}

.container{
  height: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  /* border: 1px solid red; */
}

.container > .contents > div{
width: 200px;
height: 100px;
background-color: rgb(253, 183, 183);
border: 1px solid red;
}