body {
  margin: 0;
  padding: 0;
  text-align: center;
}

#container {
  width: 700px;
  margin: auto;
}

#btn {
  padding: 10px, 20px;
  border-radius: 10px;
}

.naver {
  color: #04cf5c;
}

a {
  text-decoration: none;
}
