* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#wrap {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 1280px;
  height: 700px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  /* background: #fae3e3; */
}

#wrap h1 {
  margin-bottom: -80px;
  /* border: 1px solid #f00; */
}

.container {
  width: 960px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 15px;
  position: relative;
  /* border: 1px solid #f00; */
  /* grid-column: 2/3;
  grid-row: 1/3; */
}

.item {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-areas:
    "img item-name"
    "img item-price"
    "devider devider";
  border-bottom: 1px solid #595959;
}

.item img {
  grid-area: img;
}

.item-name {
  width: 100%;
  grid-area: item-name;
}

.item-price {
  width: 100%;
  color: rgb(15, 15, 225);
  grid-area: item-price;
}

.divider {
  grid-area: divider;
  border: 1px solid #000;
}

.view-more {
  position: absolute;
  right: -120px;
  top: 455px;
  color: #f00;
}
